
*::after, *::before, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(255,215,255);
    padding: 4rem;
    line-height: 1.6rem;
    width: 100%;
    height: 100%;

}

body > h2{
    margin-bottom: 32px;
}

.accordion-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4rem 20px 2rem;
}

.accordion{
    background: white;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 1rem;

}
.answer {
    max-height: 0;
    overflow: hidden;
    margin: 0 2rem;
    transition: max-height 0.3s ease;
}

.answer.active {
    max-height: 1000px; /* Adjust this based on your content */
}

.icon {
    transition: transform 0.6s ease;
}

.icon.active {
    transform: rotate(180deg);
}
